### Java ###
*.class
*.jar
*.war
*.ear
*.log
*.ctxt
*.jmap
*.hprof
*.heapdump
*.hs_err_pid*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Spring Boot ###
!**/src/main/**/application.properties
!**/src/main/**/application.yml
!**/src/test/**/application.properties
!**/src/test/**/application.yml
*.log
*.pid

### IDE ###
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
*.bak
*.old
*.swp
*.rej
*~ 
.vscode/
eclipse/

### OS ###
.DS_Store
Thumbs.db

### Backup & Log files ###
*.bak
*.log
*.seq
*.tmp
*.~lock.*

### Others ###
*.pid
*.log
*.log.*.lck
*.pyc
*.cache/
*.egg-info/
dist/
*.prof
logs/
modules/
